.wrapper {
	width: 830px;
	margin: 0 auto;
	background-color: #fff;
	color: #343434;
	padding: 15px;
}
.hero-container {
  width: 800px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
}