.people-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.data {
  margin: 5px 0;
}

label {
  display: block;
  position: relative;
}

label input, label button {
  display: inline-block;
  position: absolute;
  left: 200px;
  width: calc(100% - 200px);
}

label input:after {
  content: " ";
  display: block;
  clear: both;
}