<h1>
  Ownerships
</h1>
<table>
  <thead>
  <tr>
    <td> Owner name</td>
    <td>Car</td>
    <td>Command</td>
  </tr>
  </thead>
  <tbody>
  <ownership-row *ngFor="let row of ownerships"
                 [row]="row"
                 [cars]="cars"
                 [people]="people"
                 (save)="edit($event)"
                 (remove)="del(row.id)"
  >
  </ownership-row>
  </tbody>

</table>

<hr>

<table>
  <thead>
  <tr>
    <td>
      add new
    </td>

    <td class="data">
      Owner
    </td>
    <td class="data">
      Car
    </td>
    <td>
      Command
    </td>
  </tr>

  </thead>
  <tbody>
  <tr>
    <td>
      Details
    </td>
    <td class="id">
      <select [(ngModel)]="newOwnership.pid">
        <option *ngFor="let person of people" [value]="person.id">
          {{person.name}}
        </option>
      </select>
    </td>
    <td>
      <select [(ngModel)]="newOwnership.cid">
        <option *ngFor="let car of cars" [value]="car.id">
          {{car.manufacturer+' '+car.type+' '+car.year}}
        </option>
      </select>

    <td>
      <button (click)="add()">
        Add
      </button>
    </td>
  </tr>
  </tbody>
</table>