
:host {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start;
}

.wrapper {
  width: 80vw;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
}

.header {
  display: block;
  background-color: #f9f7fb;
  color: #292929;
  border-bottom: 1px solid rgba(100, 100, 100, .25);
  z-index: 1;
  padding: 0;
  height: 50px;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.header ul li {
  flex-grow: 3;
  display: block;
  height: 100%;
  line-height: 50px;
}

.header ul li a {
  display: block;
  text-align: center;
  height: 100%;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid transparent;
  transition: border-color ease .3s, color ease .3s;
}

.header ul li a:hover {
  border-bottom: 1px solid #3779fe;
  color: #3779fe;
}

.main {
  color: #383539;
  flex-grow: 5;
  position: relative;
  background-color: #fcfcfc;
}

.footer {
  text-align: center;
  color: #608aa0;
  opacity: .7;
}
.contact {
  text-decoration: none;
  color: #3e7d93;
  display: inline-block;
  padding: 5px;
}