<header class="header">
  <div class="wrapper">
    <ul>
      <li class="navigation"><a [routerLink]="['']">Home</a></li>
      <li class="navigation"><a [routerLink]="['cars']">Cars</a></li>
      <li class="navigation"><a [routerLink]="['people']">People</a></li>
      <li class="navigation"><a [routerLink]="['ownership']">Ownership</a></li>
    </ul>
  </div>
</header>
<section class="main">
  <div class="wrapper">
    <ng-content></ng-content>
  </div>
</section>
<footer class="footer">
  <div class="wrapper">
    i am the footer
  </div>
</footer>