<header class="header wrapper">
  <ul>
    <li class="navigation"><a [routerLink]="['']">Home</a></li>
    <li class="navigation"><a [routerLink]="['cars']">Cars</a></li>
    <li class="navigation"><a [routerLink]="['people']">People</a></li>
  </ul>
</header>
<section class="main">
  <div class="wrapper">
    <ng-content></ng-content>
  </div>
</section>
<footer class="footer">
  <div class="wrapper">
   in case of emergecy
    <a class="contact" target="_blank" href="https://github.com/kaloczidev">github</a>
    <a class="contact" href="mailto:kaloczidev@gmail.com">email</a>
    <a class="contact" target="_blank" href="https://www.facebook.com/senior.maypole">facebook</a>
  </div>
</footer>
